<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Novo Tópico</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<form action="#" th:action="@{/usuarios/create}" method="post">
	    <label for="titulo">Título</label>
	    <input type="text" id="titulo" placeholder="Título">
	    
	    <label for="descricao">Descrição</label>
	    <input type="text" id="descricao" placeholder="Descrição">
	    <button type="submit">Salvar</button>
	</form>
</body>
</html>
